@import 'tailwindcss';
@config "../../tailwind.config.ts";

:root {
  color-scheme: light;
}

@layer utilities {
  .studio-checkerboard {
    background-image: linear-gradient(45deg, #e5e7eb 25%, transparent 25%),
      linear-gradient(-45deg, #e5e7eb 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #e5e7eb 75%),
      linear-gradient(-45deg, transparent 75%, #e5e7eb 75%);
    background-size: 26px 26px;
    background-position:
      0 0,
      0 13px,
      13px -13px,
      -13px 0px;
  }
}
